#contacts{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.contactTittle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom:1.5rem;
}

.contactDesc{
    font-size: 1rem;
    font-weight: 400;
    max-width: 60rem;
    padding: 0 2rem;
}

.contactBars{
    margin: 1.5rem;
    width: 80vw;
    max-width:80%;
    text-align:left;
}

.contactBar{
    display:flex;
    margin: 3rem;
    padding: 1.5rem 1.5rem;
    border-radius: 0.5rem;
    background: rgb(32, 5, 107);
}

.contactBarImg{
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin: 2rem;
}

.contactBarText>p{
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    
}
@media screen and (max-width: 768px) {
    .contactBarText>p{
        font-size: 2vw;
        object-fit: contain;
            
    }
    
    .contactBarText>h2{
        font-size: 5vw;
            
    }
}